.who-we-help-hero {
    & .slick-slide {
        &>div {
            display: flex;
            align-items: center;
        }
    }

    & .slick-dots {
        & button {
            &::before {
                height: 10px;
                width: 10px;
                background-color: white;
                color: white;
                border-radius: 100%;
            }
        }
    }
}

.our__approach__content__body {
    & * {
        color: white !important;
    }

    & p {
        margin-bottom: 20px;
    }
}

.dial__animation {
    & #pointer {
        transform-origin: 50% 50%;
    }

    &.dial__animation--animate {
        & #pointer {
            animation: gauge_animate 8s ease;
        }
    }
}

@mixin includeAnimate($number) {
    & #circle_#{$number} {
        opacity: 0;
        animation: circle#{$number} 8s ease infinite;
    }
}

.bars__animation {
    & .bars {
        transform: scaleY(0);
        transform-origin: 0 91%;
    }

    & #line_animation {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    &--animate {
        & .bars {
            animation: bars_animate 8s ease infinite;
        }

        @include includeAnimate(1);
        @include includeAnimate(2);
        @include includeAnimate(3);
        @include includeAnimate(4);

        & #line_animation {
            animation: barsLineAnim 8s ease infinite;
        }
    }
}

.bars_2__animation {
    & .bar {
        transform: scaleY(0);
        transform-origin: 0 73%;
    }

    &--animate {
        & .bar {
            animation-name: bars2_animate;
            animation-duration: 8s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-delay: calc(var(--animation-order) * 200ms);
        }
    }
}

.bars3__animation {
    & .bar {
        transform: scaleY(0);
        transform-origin: 0 90%;
    }

    &--animate {
        & .bar {
            animation-name: bars2_animate;
            animation-duration: 8s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-delay: calc(var(--animation-order) * 200ms);
        }
    }
}

@function getPercent($number) {
    @return $number * 1%;
}

@mixin generate_pie_anim($name, $from, $to, $finishFrom, $finishTo) {
    & .pie_line#{$name} {
        animation: pie_anim_#{$name} 8s ease infinite;
        animation-delay: -300ms;

    }

    @keyframes pie_anim_#{$name} {
        #{getPercent($from)} {
            stroke-dashoffset: 1300;
        }

        #{getPercent($to)} {
            stroke-dashoffset: 0;
        }

        // #{getPercent($finishFrom)} {
        //     stroke-dashoffset: 0;
        // }

        // #{getPercent($finishTo)} {
        //     stroke-dashoffset: 1000;
        // }
    }
}

.pie__animation {
    & .pie_line {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    &--animate {
        @include generate_pie_anim(8, 0, 5, 95, 100);
        @include generate_pie_anim(7, 1, 10, 90, 95);
        @include generate_pie_anim(6, 2, 15, 85, 90);
        @include generate_pie_anim(5, 3, 20, 80, 85);
        @include generate_pie_anim(4, 4, 25, 75, 80);
        @include generate_pie_anim(3, 5, 30, 70, 75);
        @include generate_pie_anim(2, 6.5, 35, 65, 70);
        @include generate_pie_anim(1, 8, 40, 60, 65);
    }
}

@keyframes gauge_animate {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(280deg);
    }

    50% {
        transform: rotate(280deg);
    }

    70% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes bars_animate {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@mixin circleAnim($number, $fromAnim, $toAnim) {
    @keyframes circle#{$number} {
        #{$fromAnim} {
            opacity: 0;
        }

        #{$toAnim} {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        80% {
            opacity: 0;
        }
    }

}

@include circleAnim(1, 2%, 5%);
@include circleAnim(2, 5%, 10%);
@include circleAnim(3, 10%, 15%);
@include circleAnim(4, 15%, 20%);

@keyframes barsLineAnim {
    0% {
        stroke-dashoffset: 1000;
        opacity: 1;
    }

    60% {
        stroke-dashoffset: 0;
    }

    70% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 0;
    }

}

@keyframes bars2_animate {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(1);
    }

    60% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(0);
    }
}



@keyframes pie_anim {
    0% {
        stroke-dashoffset: 1000;
    }

    6.5% {}

    50% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1000;
    }
}

@keyframes donut_reveal {
    0% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }

    10% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }

    40% {
        stroke-dasharray: 1800 0;
        stroke-dashoffset: 220;
    }

    60% {
        stroke-dasharray: 1800 0;
        stroke-dashoffset: 220;
    }

    90% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }

    100% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }
}


.donut__animation {
    & .pie_line {
        stroke-dasharray: 1300;
        stroke-dashoffset: 1300;
    }

    &--animate {
        @include generate_pie_anim(1, 0, 5, 95, 100);
        @include generate_pie_anim(3, 7.5, 14, 85, 90);

        & .pie_line2 {
            animation: donut_reverse 8s ease infinite;
            animation-delay: -300ms;
        }
    }
}

@keyframes donut_reverse {
    0% {
        stroke-dasharray: 0 1300;
        stroke-dashoffset: 0;
    }

    9% {
        stroke-dasharray: 1300 0;
        stroke-dashoffset: 1300;
    }

    50% {
        stroke-dasharray: 1300 0;
        stroke-dashoffset: 1300;
    }
}

@keyframes donut_line_2 {}