.who-we-help-hero {
    & .slick-slide {
        &>div {
            display: flex;
            align-items: center;
        }
    }

    & .slick-dots {
        & button {
            &::before {
                height: 10px;
                width: 10px;
                background-color: white;
                color: white;
                border-radius: 100%;
            }
        }
    }
}

.our__approach__content__body {
    & * {
        color: white !important;
        font-size: calc(1.125rem + (1vw - 3.2px) * .125);
        line-height: 1.75;
        letter-spacing: -0.46px;
    }

    & ul {
        list-style: disc !important;
        padding-left: 15px;

        & li {
            margin-bottom: 10px !important;
        }
    }

    & p {
        margin-bottom: 20px;
    }
}

.dial__animation {
    &+#pointer {
        transform-origin: 50% 50%;
    }

    &.dial__animation--animate {
        &+#pointer {
            animation: gauge_animate 8s ease;
        }
    }
}

@mixin includeAnimate($number) {
    & #circle_#{$number} {
        opacity: 0;
        animation: circle#{$number} 8s ease infinite;
    }
}

.bars__animation {
    & .bars {
        transform: scaleY(0);
        transform-origin: 0 91%;
    }

    & #line_animation {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    &--animate {
        & .bars {
            animation: bars_animate 8s ease infinite;
        }

        @include includeAnimate(1);
        @include includeAnimate(2);
        @include includeAnimate(3);
        @include includeAnimate(4);

        & #line_animation {
            animation: barsLineAnim 8s ease infinite;
        }
    }
}

.bars_2__animation {
    & .bar {
        transform: scaleY(0);
        transform-origin: 0 73%;
    }

    &--animate {
        & .bar {
            animation-name: bars2_animate;
            animation-duration: 8s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-delay: calc(var(--animation-order) * 200ms);
        }
    }
}

.bars3__animation {
    & .bar {
        transform: scaleY(0);
        transform-origin: 0 90%;
    }

    &--animate {
        & .bar {
            animation-name: bars2_animate;
            animation-duration: 8s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-delay: calc(var(--animation-order) * 200ms);
        }
    }
}

@function getPercent($number) {
    @return $number * 1%;
}

// @mixin generate_pie_anim($name, $from, $to, $finishFrom, $finishTo) {
@mixin generate_pie_anim($name) {
    & .pie_line#{$name} {
        animation: pie_anim_#{$name} 8s ease infinite;
        animation-delay: calc(var(--anim-delay) * 250ms);

    }

    @keyframes pie_anim_#{$name} {
        0% {
            stroke-dashoffset: 1000;
        }

        40% {
            stroke-dashoffset: 0;
        }
    }
}

@mixin generate_donut_anim($name) {
    & .donut_line#{$name} {
        animation: donut_anim_#{$name} 8s ease infinite;
        animation-delay: calc(var(--anim-delay) * 200ms);
    }

    @keyframes donut_anim_#{$name} {
        0% {
            stroke-dashoffset: 1300;
        }

        40% {
            stroke-dashoffset: 0;
        }
    }
}

.pie__animation {
    & .pie_line {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    &--animate {
        @include generate_pie_anim(8);
        @include generate_pie_anim(7);
        @include generate_pie_anim(6);
        @include generate_pie_anim(5);
        @include generate_pie_anim(4);
        @include generate_pie_anim(3);
        @include generate_pie_anim(2);
        @include generate_pie_anim(1);
    }
}

@keyframes gauge_animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    30% {
        transform: translate(-50%, -50%) rotate(280deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(280deg);
    }

    70% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

@keyframes bars_animate {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@mixin circleAnim($number, $fromAnim, $toAnim) {
    @keyframes circle#{$number} {
        #{$fromAnim} {
            opacity: 0;
        }

        #{$toAnim} {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        80% {
            opacity: 0;
        }
    }

}

@include circleAnim(1, 2%, 5%);
@include circleAnim(2, 5%, 10%);
@include circleAnim(3, 10%, 15%);
@include circleAnim(4, 15%, 20%);

@keyframes barsLineAnim {
    0% {
        stroke-dashoffset: 1000;
        opacity: 1;
    }

    60% {
        stroke-dashoffset: 0;
    }

    70% {
        opacity: 1;
        stroke-dashoffset: 0;
    }

    100% {
        opacity: 0;
        stroke-dashoffset: 0;
    }

}

@keyframes bars2_animate {
    0% {
        transform: scaleY(0);
    }

    30% {
        transform: scaleY(1);
    }

    60% {
        transform: scaleY(1);
    }

    80% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(0);
    }
}



@keyframes pie_anim {
    0% {
        stroke-dashoffset: 1000;
    }

    6.5% {}

    50% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 1000;
    }
}

@keyframes donut_reveal {
    0% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }

    10% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }

    40% {
        stroke-dasharray: 1800 0;
        stroke-dashoffset: 220;
    }

    60% {
        stroke-dasharray: 1800 0;
        stroke-dashoffset: 220;
    }

    90% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }

    100% {
        stroke-dasharray: 0 1800;
        stroke-dashoffset: 220;
    }
}


.donut__animation {
    & .donut_line {
        stroke-dasharray: 1300;
        stroke-dashoffset: 1300;
    }

    &--animate {
        @include generate_donut_anim(1);
        @include generate_donut_anim(3);

        & .donut_line2 {
            animation: donut_reverse 8s ease infinite;
            // animation-delay: 300ms;
            // animation-delay: calc(var(--anim-delay) * 200ms);
            animation-delay: 600ms;
        }
    }
}

@keyframes donut_reverse {
    0% {
        stroke-dasharray: 0 1300;
        stroke-dashoffset: 0;
    }

    // 9% {
    //     stroke-dasharray: 1300 0;
    //     stroke-dashoffset: 1300;
    // }

    40% {
        stroke-dasharray: 1300 0;
        stroke-dashoffset: 1300;
    }
}

.provider_bars_animation {
    & .bar {
        transform: scaleY(0);
        transform-origin: 0 90%;
    }

    &--animate {
        & .bar {
            animation-name: bars2_animate;
            animation-duration: 8s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-delay: calc(var(--animation-order) * 200ms);
        }

        & .provider_text {
            animation: provider_text_reveal 8s ease infinite;
        }
    }
}

@keyframes provider_text_reveal {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    30% {
        transform: translateY(-10px);
        opacity: 0;
    }

    60% {
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

.resources__section {
    & p {
        margin-bottom: 0 !important;
    }
}