.au__heading {
    &__cards {
        & .card {
          padding: 2rem 0;
            p {
                margin-bottom: 0;
            }
        }
    }
}

//Careers section
.au_careers__arrows {
    & button {
        & svg {
            & path {
                fill: white;
                @media #{$desktopBase} {
                    fill: #5E5E5E;
                }
            }
        }
    }
}