@import '../variables';

.certHLM__in__action {
    & .how__it__works__description {
        & * {
            color: $dark-blue-background;
        }

        & p {
            margin-bottom: 0 !important;
        }

        & ul {
            list-style: disc;

            & li {
                margin-bottom: 15px;
                line-height: 1.4;
            }
        }
    }
}

.certHLM__form__container {

    & input[type=text],
    input[type=email] {
        border-color: #eaeaea !important;
        padding-top: 0 !important;
    }

    & input {
        font-weight: bold;

        &[type=checkbox] {
            border: none !important;
            padding-bottom: none !important;
        }
    }

    & [aria-hidden=true] {
        display: none;
    }

    & button[type=submit] {
        border-radius: 40px !important;
    }

    & .frm_checkbox label {
        line-height: 1 !important;

        & input {
            margin-right: 0 !important;
            padding: 0 !important;
        }
    }

    & .optin__description {
        & p {
            line-height: 1.5 !important;
        }
    }
}