@import '../variables';

.cards__container {
	& .card {
		&:nth-of-type(2) {
			border-top-color: #5e5e5e42;
			border-top-width: 2px;
			border-bottom-color: #5e5e5e42;
			border-bottom-width: 2px;
			border-style: solid;
		}

		@media #{$desktopSM} {
			&:nth-of-type(2) {
				border-top: none !important;
				border-bottom: none !important;
				border-right-color: #5e5e5e42;
				border-right-width: 2px;
				border-left-color: #5e5e5e42;
				border-left-width: 2px;
				border-style: solid;
			}
		}

	}
}

.custom-shadow {
	box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 11px -4px rgba(0, 0, 0, 0.75);
}

.insights__card__text--dark {
	& p {
		color: #201c1c;
	}
}

.insights__card__text p {
	font-size: 10px;
	line-height: 20px;

	@media #{$desktopSM} {
		font-size: 12px;
		line-height: 15px;
	}

	@media #{$desktopLG} {
		font-size: 15px;
		line-height: 18px;
	}
}

.credibility__body p {
	color: #7e7e7e;
}

.credibility__body--dark p {
	color: #201c1c;
}

.home__credibility__section {
	& svg {
		& path {
			fill: $color-navy;
		}
	}

	& .slick-dots {
		bottom: -50px;

		& li {
			& button {
				transition: all ease .3s;
				width: 15px;
				height: 15px;
				background-color: #011b3a29;
				border-radius: 100%;

				&::before {
					color: transparent;
				}
			}
		}
	}

	& .slick-active {
		&>div {
			display: flex;
			align-items: center;
		}

		& button {
			background-color: $color-navy !important;
		}
	}
}

.second__row {
	margin-left: -70px;
}

.schedule__demo__modal {
	& form {
		margin-top: 0 !important;

		& input {
			padding: 8px 5px !important;
			border: 1px solid $color-grey !important;
			border-radius: 6px !important;
		}

		& .frm_checkbox {
			& label {
				font-size: 10px !important;

				& input {
					padding: 0px !important;
					border-radius: 4px !important;
					background-color: lightgray !important;
					border: none !important;
					margin-right: 0 !important;
				}
			}
		}

		.optin__description {
			& span {
				font-size: 8px !important;
				line-height: 1.2;
				display: block;
			}
		}

		.schedule__button {
			display: flex;
			justify-content: center;

			& button {
				background-color: $color-red;
				color: white;
				padding: 10px;
				border-radius: 7px;
				transition: all .3s ease;
				border: solid 1px $color-red;
				font-size: 15px;
				font-weight: 600;

				&:hover {
					background-color: white;
					color: $color-red;
				}
			}
		}

		.frm_submit {
			margin-top: 15px !important;

			& button {
				padding: 10px !important;
				font-size: 15px !important;
			}
		}
	}
}

//insights section
.solutions__subheader {
	& p:last-child {
		display: none !important;
	}
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
}

//Story slider
.home__insights__section {
	& svg {
		& path {
			fill: $color-navy;
		}
	}

	& .slick-dots {
		bottom: -50px;

		& li {
			& button {
				transition: all ease .3s;
				width: 15px;
				height: 15px;
				background-color: #011b3a29;
				border-radius: 100%;

				&::before {
					color: transparent;
				}
			}
		}
	}

	& .slick-active {
		&>div {
			display: flex;
			align-items: center;
		}

		& button {
			background-color: $color-navy !important;
		}
	}
}