.logistics__data__processing__section {
  background: linear-gradient(180deg, rgba(24, 15, 54, 1) 0%, rgba(24, 15, 54, 1) 55%, rgba(24, 15, 54, 0) 100%), var(--logistics-section-bg-img);
  background-size: cover;
  margin-top: 0;
}

.data__processing__slider {
  & button {
    display: block !important;
    top: 35%;

    &.slick-prev {

      left: 30px;
      z-index: 20;

      @media #{$desktopMD} {
        left: -40px;
      }
    }

    &.slick-next {
      right: 13px;
      z-index: 20;

      @media #{$desktopMD} {
        right: -65px;
      }
    }

    & svg {
      width: 16px;
    }

    &::before {
      display: none;
    }
  }

  & .slick-track {
    @media #{$desktopMD} {
      padding: 20px;
    }

    & .slick-slide {
      transition: all .3s ease;

      &>div {
        width: 80%;

        @media #{$desktopMD} {
          width: 100%;
        }
      }

      &:hover {
        transform: scale(1.03);
      }
    }
  }
}

.custom__slick {
  &-arrow {
    &::before {
      display: none;
    }

    display: inline-block !important;

    & svg {
      width: 20px;
    }
  }
}

.registeredSymbol {
  &::after {
    content: attr(data-symbol);
    font-size: 11px;
    vertical-align: text-top;
    line-height: 1.3;
  }
}