.logistics__data__processing__section {
  background: linear-gradient(180deg, rgba(24, 15, 54, 1) 0%, rgba(24, 15, 54, 1) 63%, rgba(24, 15, 54, 0) 100%), var(--logistics-section-bg-img);
  background-size: cover;
  margin-top: 0;
}