.cert-timeline-slider {
  & .slick-track {
    display: block !important;
  }

  & .slick-slide {
    &>div {
      @media (min-width: 1024px) {
        margin-left: auto;
      }
    }
  }

  & .slick-list {
    @media (min-width: 1024px) {
      height: 70vh !important;
    }
  }
}

.cert-timeline-data-slider {
  & .slick-slide {
    &>div {
      width: 100%;
    }
  }
}