.cert-timeline-slider {
  & .slick-track {
    display: block !important;
  }

  & .slick-slide {
    &>div {
      margin-left: auto;
    }
  }

  & .slick-list {
    height: 70vh !important;
  }
}

.cert-timeline-data-slider {
  & .slick-slide {
    &>div {
      width: 100%;
    }
  }
}