@import '../variables';

$section_border: 20px solid black;  

.platform__submenu__item {
  border-bottom: 2px solid gray;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 8rem;
  }
}

.platforms__content__body {
  height: 0px;
  width: 0px;
  opacity: 0;
  transition: all ease 0.3s;
  & p {
    height: 0px;
    width: 0px;
    visibility: hidden;
  }
}

.platforms__arrow {
  transition: all .3s ease;
}

//animations

.platforms__option--open {
  opacity: 1;
  visibility: visible !important;
  height: auto !important;
  width: auto !important;
}

.rotate__arrow {
  transform: rotate(90deg);
}

.button__icon__container {
  width: 80px;
}

//Proven solution section

.solutions__section {
  border-top: $section_border;
  border-bottom: $section_border;
}

.solution {
  &__title {
    position: relative;
    &::after{
      position: absolute;
      content: '';
      width: 50%;
      height: 2px;
      background-color: $color-red;
      left: 50%;
      bottom: -25%;
      transform: translateX(-50%);
    }
  }
  &__content {
    width: 70%;
    margin: 0 auto;
    height: 80%;
    &__data {
      display: flex;
      align-items: center;
      & h3 {
        color: white;
        width: 50%;
        text-align: center;
        padding-right: 1rem;
        font-size: 2.5rem;
      }
      & p {
        color: white;
        width: 50%;
      }
    }
  }
}

// Quotes Section

.quotes{
  &__card {
    border: solid $color-red 2px;
    position: relative;
  }
}

.dquote {
  position: absolute;
  height: 65px;
  width: 103px;
  background-color: white;
  & span {
    position: absolute;
    font-size: 11rem;
    color: $color-red;
    font-weight: bold;
    width: 60px;
    height: 60px;
  }

  &-top {
    top: -8px; 
    left: -6px;
    & span {
      top: -130%;
    }
  }
  &-bottom {
    bottom: -10px;
    right: -11px;
    & span {
      top: -55px;
      right: 32px;
    }
  }
}

// Data Slides

.data__slides {
  &__content {
    min-height: 100vh;
    border-top: $section_border;
    border-bottom: $section_border;

    &:last-of-type, &:first-of-type {
      border-top: none;
    }

    &__description {
      height: 40vh;
      transition: all ease 0.4s;
    }


    &__button {
      & button {
        overflow: hidden;
        transition: all ease 0.4s;
        &::before {
          content: '';
          position: absolute;
          width: 50%;
          height: 50%;
          background-color: white;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          content: '';
          position: absolute;
          width: 50%;
          height: 50%;
          background-color: $color-red;
          top: 30%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}

// platform deploy options section

.platform__deploy__options {
  min-height: 100vh;
  
}