@import '../variables';
$section_border: 20px solid black;
@media (min-width: 1024px) {
    $section_border: none !global;
}

.platform__submenu__item {
    border-bottom: 2px solid gray;
    &:last-of-type {
        border-bottom: none;
        margin-bottom: 8rem;
    }
}

.platforms__content__body {
    height: 0px;
    width: 0px;
    opacity: 0;
    transition: all ease 0.3s;
    & p {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
}

.platforms__arrow {
    transition: all .3s ease;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid gray;
}

//animations
.platforms__option--open {
    opacity: 1;
    visibility: visible !important;
    height: auto !important;
    width: auto !important;
}

.rotate__arrow {
    transform: rotate(90deg);
}

// platforms desktop
.platforms__icons {
    &--red {
        & p {
            transition: all .4s ease;
            border-bottom: 0px solid transparent;
            padding-bottom: 15px;
            &.active__platform {
                border-width: 5px;
                border-color: $color-red;
            }
        }
        &:hover {
            cursor: pointer;
            & p {
                border-width: 5px;
                border-color: $color-red;
            }
        }
        // &::before {
        // content: '';
        // width: 130%;
        // height: 130%;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // border-radius: 50%;
        // transform: translate(-50%, -50%);
        // background-color: $color-red;
        // }
    }
    &--blue {
        & p {
            transition: all .4s ease;
            border-bottom: 0px solid transparent;
            padding-bottom: 15px;
            &.active__platform {
                border-width: 5px;
                border-color: $color-blue;
            }
        }
        &:hover {
            cursor: pointer;
            & p {
                border-width: 5px;
                border-color: $color-blue;
            }
        }
        // &::before {
        //     content: '';
        //     width: 130%;
        //     height: 130%;
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     border-radius: 50%;
        //     transform: translate(-50%, -50%);
        //     background-color: $color-blue;
        // }
    }
}

.platforms__icon__button {
    & svg {
        & * {
            fill: white !important;
        }
    }
    &:last-of-type {
        & svg {
            & * {
                stroke: transparent !important;
            }
        }
    }
    &:nth-of-type(2) {
        & svg {
            & * {
                opacity: 1 !important;
            }
        }
    }
}

.platforms__main__icon {
    &--red {
        & .st3 {
            fill: $color-red;
        }
    }
    &--blue {
        & .st3 {
            fill: $color-blue;
        }
    }
}

.platforms__button {
    &.right svg {
        transform: rotate(180deg);
    }
    & path {
        fill: $color-grey;
    }
}

.active__red {
    border-width: 5px !important;
    border-color: $color-red !important;
}

.active__blue {
    border-width: 5px;
    border-color: $color-blue !important;
}

.platforms__button__content {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
}

.platforms__dots {
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 40px;
    &__animation {
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-image: radial-gradient(white 3px, transparent 4px);
        background-size: 38px 43px;
        background-position-x: left;
        animation: move-to-right 20s linear infinite;
    }
}

.platforms__data__container {
    background-position-y: 33%;
    -webkit-box-shadow: 0px 7px 3px -1px #B4B4B4;
    box-shadow: 0px 7px 3px -1px #B4B4B4;
}

@keyframes move-to-right {
    to {
        background-position-x: right;
    }
}

//Proven solution section
.solutions-parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: 100%;
}

$dots_top: -6px;
.solutions__section {
    border-top: $section_border;
    border-bottom: $section_border;
    &__separator {
        & .separator__dots {
            & .solution__dot {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                margin-right: 10px;
                background-color: white;
                transition: all .4s, ease;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            & .red-highlight {
                background-color: $color-red;
            }
        }
        & .separator__line {
            height: 2px;
            background-color: white;
        }
    }
    .solutions__data {
        &:last-of-type {
            margin-bottom: 100px;
        }
    }
}

// Proven solution desktop
.proven-solution-graph {
    & polyline {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }
    & circle {
        opacity: 0;
    }
}

[data-proven-anim='proven-anim'] {
    & polyline {
        transition-property: stroke-dashoffset;
    }
    & circle {
        transition-property: opacity;
    }
    &.exec-animate {
        & polyline {
            stroke-dashoffset: 0;
        }
        & .proven-dot {
            &-red,
            &-4 {
                opacity: 1;
            }
            &-1 {
                opacity: 1;
            }
            &-2 {
                opacity: 1;
            }
            &-3 {
                opacity: 1;
            }
        }
    }
}

.proven__solution__data {
    transition: all ease .3s;
    transform: translateY(10px);
    opacity: 0;
}

.show__proven__data {
    transform: translateY(0);
    opacity: 1;
}

// Quotes Section
.slider__relative {
    @media #{$desktopBase} {
        top: -14em;
        margin-bottom: -14em;
    }
    @media #{$desktopLG} {
        top: -15em;
        margin-bottom: -15em;
    }
    @media #{$desktopFull} {
        top: -16em;
        margin-bottom: -16em;
    }
}

.slick-arrow {
    display: none !important;
}

.slick-slide {
    >div {
        width: 100%;
        display: flex;
        align-items: center;
        @media #{$desktopBase} {
            width: 70%;
        }
        @media #{$desktopLG} {
            width: 50%;
        }
    }
}

.slider__slide {
    display: flex !important;
}

.slider-container {
    padding-inline: 1%;
    @media #{$desktopBase} {
        padding-inline: 5%;
    }
    @media #{$desktopLG} {
        padding-inline: 18%;
    }
    & button {
        & svg {
            & path {
                fill: black;
                @media #{$desktopBase} {
                    fill: white;
                }
            }
        }
    }
}

// Data Slides
.data__slides {
    &__content {
        min-height: 100vh;
        border-top: $section_border;
        border-bottom: $section_border;
        &:last-of-type,
        &:first-of-type {
            border-top: none;
        }
        &__description {
            height: 100%;
            transition: all ease 0.4s;
        }
        &__button {
            & button {
                overflow: hidden;
                transition: all ease 0.4s;
                &::before {
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    background-color: white;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    background-color: $color-red;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }
}

// platform deploy options section
$deploy_border: 3px dotted #9e9e9e;
.platform__deploy__options {
    min-height: 100vh;
    & .deploy__icon__header {}
}

.deploy__data__content {
    padding-bottom: 15px;
    & .empty__data__block {
        background: repeating-linear-gradient( 45deg, white, white 3px, #9e9e9e 3px, #9e9e9e 6px, )
    }
    & .content__body {
        padding: 20px 0;
        &:first-of-type {
            border-right: $deploy_border;
            padding-right: 10px;
        }
        &:last-of-type {
            padding-left: 10px;
        }
        & div {
            padding: 0 10px;
            margin-bottom: 10px;
            margin-right: 15px;
            margin-left: 15px;
            border-radius: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-of-type {
                margin-bottom: 0;
            }
            & p {
                color: white;
                line-height: normal;
                text-align: center;
            }
        }
    }
}

// Validation Security Section
.validation__security {
    border-top: $section_border;
    & .slick {
        &-prev {
            z-index: 10;
            display: none !important;
            &::before {
                position: absolute;
                top: -470%;
                right: -170%;
                transform: rotate(180deg);
            }
        }
        &-next {
            &::before {
                content: var(--rightArrowUrl);
                display: none !important;
                position: absolute;
                top: -500%;
                left: -170%;
            }
        }
        &-dots {
            & li {
                background-color: white;
                border-radius: 50%;
                &.slick-active {
                    opacity: 0.7;
                }
            }
        }
    }
    & .slider-next {
        right: 0%;
        top: 50%;
        z-index: 10;
        transform: rotate(180deg);
        @media #{$desktopBase} {
            right: 10%;
        }
    }
    & .slider-prev {
        display: none;
        top: 50%;
        z-index: 10;
        @media #{$desktopBase} {
            display: block;
        }
    }
}

// Contact Us Section
.platform__contact__us {
    border-top: $section_border;
}


/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */

$dot-color: #bdcff5;
.dot-pulse {
    position: relative;
    left: -9999px;
    z-index: 2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $dot-color;
    color: $dot-color;
    box-shadow: 9999px 0 0 -5px $dot-color;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $dot-color;
    color: $dot-color;
}

.pulse__order {
    &-1 {
        top: 11%;
        left: 40%;
    }
    &-2 {
        top: 34%;
        left: 7%;
    }
    &-3 {
        top: 30%;
        right: 10%;
    }
    &-4 {
        bottom: 27%;
        left: 7%;
    }
    &-5 {
        top: 51%;
        right: -5%;
    }
    @media #{$desktopBase} {
        &-2 {
            top: 10%;
            left: 50%;
        }
        &-3 {
            top: 10%;
        }
        &-4 {
            top: 45%;
            right: 17%;
            left: auto;
        }
        &-5 {
            top: 30%;
            right: -5%;
        }
    }
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px $dot-color;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
    left: -25px;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px $dot-color;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
    right: -25px;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px $dot-color;
    }
    30% {
        box-shadow: 9984px 0 0 2px $dot-color;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px $dot-color;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px $dot-color;
    }
    30% {
        box-shadow: 9999px 0 0 2px $dot-color;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px $dot-color;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px $dot-color;
    }
    30% {
        box-shadow: 10014px 0 0 2px $dot-color;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px $dot-color;
    }
}