@import '../variables';

.grow__your__book__of__business__section {
    & .slick-dots {
        bottom: -50px;

        & li {
            & button {
                transition: all ease .3s;
                width: 15px;
                height: 15px;
                background-color: white;
                border-radius: 100%;

                &::before {
                    color: transparent;
                }
            }
        }
    }

    & .slick-active {
        & button {
            background-color: $color-red !important;
        }
    }
}

//healthplans section

.health__plans__insights {

    & .option__button {
        margin-top: 0;
        border-left: 0px solid transparent;

        &:first-of-type {
            & svg {
                width: 25px;

                & * {
                    opacity: .5;
                }
            }
        }

        //icons manual sizing
        &:nth-of-type(2) {
            & svg {
                width: 30px;
                margin-left: -3px;
            }
        }

        &:nth-of-type(3) {
            & svg {
                width: 26px;
            }
        }

        &:nth-of-type(4) {
            & svg {
                width: 20px;
                margin-right: 13px;
            }
        }

        &:nth-of-type(5) {
            & svg {
                width: 18px;
                margin-right: 15px;
            }
        }

        &:nth-of-type(6) {
            & svg {
                height: 27px;
                margin-right: 9px;
            }
        }

        @media #{$desktopBase} {
            &:first-of-type {
                & svg {
                    width: 35px;
                }
            }

            &:nth-of-type(2) {
                & svg {
                    width: 40px;
                }
            }
        }


        & .hp__option__action__button {
            transition: all .3s ease;
        }

        & svg {
            & * {
                transition: all ease .3s;
            }
        }

        &::after {
            @media#{$desktopBase} {
                content: '';
            }
        }

        & .hp__option__action__button {
            &:hover {
                color: $color-red;
            }
        }

        &:hover {
            border-color: transparent;

            & svg {
                & * {
                    fill: $color-red;
                    stroke: $color-red;
                    opacity: 1;
                }
            }
        }


    }

    & .mobile__option__svg {
        &:first-of-type {
            & svg {
                width: 47px;
            }
        }
    }

    & .navigation__dot {
        transition: all .3s ease;
    }

    .active__option {
        border-left: 0px solid $color-red;

        & .hp__option__action__button {
            color: $color-red ;
        }

        & svg {
            & * {
                opacity: 1 !important;
                fill: $color-red;
                stroke: $color-red;
            }
        }
    }

    & .slick-track {
        flex-direction: column !important;
    }

    & .slick-slide {
        opacity: .4;
        transition: all .3s ease;
        justify-content: flex-start;
    }

    & .slick-current {
        opacity: 1;
    }
}

.solutions__insights__slider {
    & .slick-slide {
        &:first-of-type {
            & svg {
                width: 40px;
            }
        }

        &:nth-of-type(3) {
            & svg {
                width: 26px;
            }
        }

        &:nth-of-type(4) {
            & svg {
                width: 15px;
                margin-right: 13px;
            }
        }

        &:nth-of-type(5) {
            & svg {
                width: 17px;
                margin-right: 10px;
            }
        }

        &:nth-of-type(6) {
            & svg {
                height: 20px
            }
        }
    }
}

//government page form styles

.case__study__form__container {
    & #form_scheduledemoform {
        & label {
            display: block !important;
        }

        & input {
            border: 1px solid black !important;
            border-radius: 9px !important;
        }

        & .frm_checkbox {
            margin-top: 10px !important;
        }

        & input[type="checkbox"] {
            border: none !important;
            border-radius: 5px !important;
            background-color: lightgray !important;
        }

        & input[type="email"] {
            border: 1px solid black !important;
            border-radius: 9px !important;
        }
    }
}

.providers__insights__section {


    .government__option__button {
        &:hover {
            & button {
                color: $color-red;
            }
        }

        &.active__option {
            & button {
                color: $color-red;
            }
        }

        &:nth-of-type(1) {
            & svg {
                width: 23px !important;
                margin-right: 6px !important;
            }
        }

        &:nth-of-type(2) {
            & svg {
                width: 26px !important;
                margin-right: 3px;
            }
        }

        &:nth-of-type(3) {
            & svg {
                width: 20px !important;
                margin-right: 9px;

                @media #{$desktopBase} {
                    width: 23px !important;
                    margin-right: 5px !important;
                }
            }
        }

        &:nth-of-type(4) {
            & svg {
                width: 17px !important;
                margin-right: 11px !important;

                @media #{$desktopBase} {
                    width: 21px !important;
                    margin-right: 7px !important;
                }
            }
        }

        &:nth-of-type(5) {
            & svg {
                @media #{$desktopBase} {
                    width: 17px !important;
                    margin-right: 10px !important;
                }
            }
        }

        &:nth-of-type(6) {
            & svg {
                @media #{$desktopBase} {
                    margin-right: 2px !important;
                }
            }
        }
    }
}