@import '../variables';

//Brochure Section
.download__brochure {
  & .brochure__points {
    & div {
      position: relative;
      margin-left: 10%;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -8%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 20px;
        border-color: transparent transparent transparent $color-red;
      }
    }
  }
}

//Actionable Intelligence Section
.actionable_intelligence {
  & .data__list {
    & li {
      margin-top: 1rem;
    }
  }
}