@import '../variables';

//Brochure Section
.download__brochure {
  & .brochure__points {
    & div {
      position: relative;
      margin-left: 10%;

      & p::before {
        content: '';
        position: absolute;
        top: 10px;
        transform: translateY(-50%);
        left: -8%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent white;

        @media #{$desktopBase} {
          top: 15px;
          border-width: 10px 0 10px 15px;
        }

      }
    }
  }
}

.action__button {
  transition: all .3s ease;

  &:hover {
    background-color: $color-red;
    color: white;
  }


}

//Case Study
.case__study {
  &__form {
    &__container {

      & form {
        margin-top: 0px;
      }

      & input[type='email'] {
        border: 1px solid lightgray !important;
        border-radius: 7px !important;
        padding: 15px !important;
      }

      & .frm_form_field {
        &:first-of-type {
          & label {
            display: none !important;
          }
        }
      }

      & .frm_html_container {
        font-size: 11px !important;
        font-family: 'Work Sans';

        & * {
          font-size: 11px !important;
          font-family: 'Work Sans';
        }
      }

      & .frm_checkbox {
        & label {
          text-indent: -23px !important;
          font-weight: bold;
          font-family: 'Work Sans';
        }
      }

      & input[type='checkbox'] {
        border: 1px solid black !important;
        padding: 0 !important;
        margin-right: 0 !important;
      }
    }
  }
}

//Actionable Intelligence Section
.actionable_intelligence {
  & .data__list {
    & li {
      margin-top: 1rem;
    }
  }
}

// Intuitive Insights Section
.intuitive__insights {
  & p {
    max-width: 100%;
  }

  & .option__button {
    margin-top: 10px;
    transition: all ease .3s;
    border-left: 4px solid transparent;
    padding: .6rem;
    padding-right: 0;
    position: relative;

    &:first-of-type {
      margin-top: 0;

      &::after {
        top: 65%;
      }
    }

    &::after {
      transition: all ease .3s;
      position: absolute;
      content: '';
      color: transparent;
      top: 50%;
      right: 0;
      font-size: 32px;
      font-weight: bold;
      transform: translate(-10px, -50%);

      @media#{$desktopBase} {
        content: '\2192';
      }
    }

    &:hover {
      border-color: $color-red;

      &::after {
        color: $color-red;
        transform: translate(0, -50%);
      }
    }


  }

  .active__option {
    border-left: 4px solid $color-red;

    &::after {
      color: $color-red;
      transform: translate(0, -50%);
    }
  }

  & .slick-track {
    flex-direction: column !important;
  }

  & .slick-slide {
    opacity: .4;
    transition: all .3s ease;
    justify-content: flex-start;
  }

  & .slick-current {
    opacity: 1;
  }

  .slick-dots {
    bottom: -30px;

    & li {
      & button::before {
        background-color: black;
        border-radius: 100%;
        height: 15px;
        width: 15px;
      }
    }
  }
}

.insights__button__container {
  & .container__overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 200%;
    transform: translateY(-50%);
    // background: linear-gradient(0deg, rgba(247, 247, 247, 0.8043418050814075) 60%, rgba(247, 247, 247, 0.5) 85%, rgba(247, 247, 247, 0) 100%);
    background: linear-gradient(0deg, rgba(247, 247, 247, 0.9) 0%, rgba(247, 247, 247, 0.6) 32%, rgba(247, 247, 247, 0) 50%, rgba(247, 247, 247, 0.5998600123643207) 55%, rgba(247, 247, 247, 0.9) 100%);
    pointer-events: none;
    z-index: 10;
  }
}

//brochure carousel

.carousel {
  width: 100%;

  padding: 2em 2em 0 2em;
  overflow: hidden;

  & .slider__container {
    width: 300%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    transition: all .5s ease;
    transform: translateX(0%);
  }

  & .slider__container__slide {
    min-height: 10vh;

    @media #{$mobileMin} {
      width: calc(100% / 3 - 3em);
    }

    @media #{$desktopSM} {
      width: calc(100% / 3 - 4em);
    }
  }

  & .nav__options {
    margin: 1em 0 0;
    display: flex;

    @media #{$mobileMin} {
      width: 85%;
      flex-flow: column nowrap;
      justify-content: flex-start;
      border: 2px solid $color-red;
      padding: 0em;
    }

    @media #{$tablet} {
      width: 50%;
    }

    @media #{$desktopSM} {
      width: 100%;
      border: none;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 1em;
      padding-bottom: 2rem;
    }

    @media #{$desktopLG} {
      padding-bottom: 8rem;
    }
  }

  & .nav__options--option {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;

    @media #{$mobileMin} {
      padding-inline: 0.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0;
    }

    @media #{$desktopSM} {
      padding-inline: 1.5rem;
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 1em;
    }
  }

  & .active {

    @media #{$mobileMin} {
      background-color: $color-red;
    }

    @media #{$desktopSM} {
      background-color: transparent;
      border-bottom: 5px solid $color-red;
    }
  }

  & .data__image__desktop {

    @media #{$mobileMin} {
      display: none !important;
    }

    @media #{$desktopSM} {
      display: flex !important;
    }
  }
}

//sets apart section

.sets_apart_section {
  & .card {

    &:nth-of-type(1) {
      & .card__image {
        width: 3rem;
      }
    }

    &:nth-of-type(2) {
      & .card__image {
        width: 4rem;
      }
    }

    &:nth-of-type(3) {
      & .card__image {
        height: 4rem;
        width: 4.6rem;
      }
    }

    &:nth-of-type(4) {
      & .card__image {
        width: 5.5rem;
        height: 4rem;
      }
    }

    &:nth-of-type(5) {
      & .card__image {
        width: 4rem;
      }
    }

    &:last-of-type {
      & .card__image {
        width: 4rem;
      }
    }
  }
}

//providers page - health systems

.providers__insights__section {
  & .option__button {

    &:nth-of-type(2) {
      & svg {
        //staging
        width: 24px !important;
        margin-right: 3px !important;
        // dev
        //width: 18px !important;
      }
    }

    &:nth-of-type(3) {
      & svg {
        width: 16px !important;
        height: auto;
      }
    }

    &:nth-of-type(4) {
      & svg {
        height: auto !important;
        margin-right: 4px !important;
      }
    }

    &:nth-of-type(5) {
      & svg {
        margin-right: 5px !important;
      }
    }
  }

  & .mobile__option__svg {
    &:first-of-type {
      & svg {
        width: 27px !important;
        margin-left: -3px !important;
        margin-right: 3px !important;
      }
    }

    &:nth-of-type(2) {
      & svg {
        width: 17px !important;
        margin-right: 9px !important;
        margin-left: 1px !important;
      }
    }
  }

  & .solutions__insights__slider {
    & .slick-slide {
      &:first-of-type {
        & svg {
          width: 26px !important;
        }
      }

      &:nth-of-type(2) {
        & svg {
          width: 20px !important;
        }
      }

      &:nth-of-type(3) {
        & svg {
          height: auto !important;
        }
      }

      &:nth-of-type(4) {
        & svg {
          width: 23px !important;
        }
      }
    }
  }
}

.right__margin__arrow {
  transition: all ease .3s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent black;
}

.rotate__right__arrow {
  transform: rotate(90deg);
}

//new solution page
.use__cases__copy {
  & * {
    color: inherit;
  }

  & p {
    font-size: 15px;
    line-height: 1.3;

    @media #{$desktopBase} {
      font-size: 16px;
    }
  }

  & ul {
    list-style: disc;
    margin-top: 14px;

    & li {
      font-size: 14px;
      line-height: 1.3;
      margin-bottom: 14px;
      letter-spacing: 0px;

      @media #{$desktopBase} {
        font-size: 16px;
      }
    }
  }
}

.news__insights__slider {
  & .slick-dots {
    & li {
      & button {
        &::before {
            height: 15px !important;
            width: 15px !important;
            background-color: $color-navy;
            color: $color-navy;
            border-radius: 100%;
        }
      }
    }
  }
}

.news__insights__slider--arrows {
  & button {
    & svg {
      & path {
        fill: $color-navy !important;
      }
    }
  }
}