.post__page {
  & .subscribe__form__container {
    & form {
      margin-top: 0;

      & label {
        display: none;
      }

      & input[type=email] {
        background-color: transparent !important;
        color: white !important;
        border-bottom: #9ca3af 1px solid !important;
        padding: 0 0 10px 0 !important;
        position: relative;

        &:focus {
          background-color: transparent;
        }
      }

      & p {
        font-size: 10px;
        color: white;
      }

      & .frm_submit {
        margin-top: 0 !important;
      }



      & button[type=submit] {
        font-size: 15px !important;
        border-radius: 8px !important;
        padding: 10px !important;
        margin-bottom: 35px !important;
        letter-spacing: .025em !important;
      }
    }

    & .frm_message {
      background-color: transparent;
      padding: 0 0 10px 0;
      text-align: center;
      color: white;

      & .frm_thankyou {
        font-size: 30;
      }

      & .frm_subscribing {
        margin-top: -10px;
        font-size: 18px;
      }

      & p {
        font-size: 12px;
        color: white;
        text-align: left;
        padding: 0 33px;
        margin-top: 10px;
        margin-bottom: 30px;
      }
    }
  }

  & .post__navigation__option {
    transition: all .3s ease;

    &.active__post__nav__option {
      background-color: lightgray;
    }

    &:hover {
      background-color: lightgray;
    }
  }

  & .post__dynamic__content {
    & ul {
      margin-left: 80px;

      & li {
        list-style: disc;
      }
    }

    & ol {
      margin-left: 80px;

      & li {
        list-style: decimal;
      }
    }

    & h2 {
      font-size: 1.875rem;
    }

    & h3 {
      font-size: 1.5rem;
    }

    & h1,
    h2,
    h3,
    h4 {
      color: #7e7e7e;
    }

    & p {
      max-width: none;
    }
  }
}