// .reveal-text {
//   visibility: hidden;
// }

.line {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  width: 0;
  transition: width linear 1s;
}

.typed-animation {
  width: 100%;
}


.reveal-text {
  visibility: hidden;
}

// .line {
//   position: relative;
//   overflow: hidden;
//   display: flex;
// }